.footer-address {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-blocks {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.desktop-upper-block {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-left: 61px;
    padding-right: 74px;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.address-block {
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-right: 70px;
  }
}

.footer-web-logo {
  color: var(--web-logo);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__location {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #2196f3;
  }
}

.address__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #2196f3;
  }
}

.address__phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #2196f3;
  }
}
