.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-heading-color);
  margin-bottom: 50px;
}

.team {
  display: flex;
  gap: 30px;
}

.team__item {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.team__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-heading-color);
  padding-top: 30px;
  margin-bottom: 10px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
  padding-bottom: 16px;
}

.worker-social {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}

.worker-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #2196f3;
    cursor: pointer;
  }
}

.worker-social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .worker-social__link:hover & {
    fill: #ffffff;
  }
}
