.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-logo {
  color: var(--header-logo-color);
  margin-right: 93px;
}

.footer-logo {
  color: var(--footer-logo-color);
  margin-bottom: 20px;
}
