:root {
  --main-header-color: #ffffff;
  --second-heading-color: #212121;
  --description-color: #757575;
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --hover-color: #2196f3;
  --footer-address-color: #ffffff;
  --web-logo: #2196f3;
  --service-btn-text: #ffffff;
  --service-btn-color: #2196f3;
  --filter-btn-hover-text: #ffffff;
  --filter-btn-hover-color: #2196f3;
  --filter-btn-text: #212121;
}
